################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/BAD MOOD/v16
/.vs/BadMood1/v16
/Temp
/BadMood1.sln
